.checkbtn{
    display: none;
    padding: 10px 20px;
    /* color: white; */
    border-radius: 2px;
}
#check{
    display: none;
}
@media screen and (max-width:576px) {
    .navlinks{
        flex-direction: column;
        position: absolute;
        display: none;
        text-align: center;
        height: 30vh;
        align-items: center;
        justify-content: center;
        width: 100%;
        line-height: 2;
        background-color: gray;
        top: 70px;
    }
    .navlinks a{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: gray;

    }
.checkbtn{
    display: block;
}    
#check:checked ~.navlinks{
    display: block;
}

.head{
    display: flex;
    background-color: whitesmoke;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px 0px 0px;
}
.heading{
    display: flex;
    align-items: center;
    margin-left: 50px;

}
.heading p{
    text-transform: capitalize;
    color: #4b208c;
    font-size: 25px;
    padding: 0px 10px;
    font-weight: 600;
}
.homepage{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    align-items: center;
    padding: 50px;
    justify-content: space-between;
    width: 100%;
}

.homepage .left h3{
    font-size: 45px;
    color: black;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.homepage .left p{
    width: 350px;
    font-size: 20px;
    color: #3c3c3c;
    margin-bottom: 10px;
}
.homepage .left button{
    padding: 5px 40px;
    background-color: #4b208c;
    border-radius: 30px;
    outline: none;
    margin: 15px 0px;
}
.homepage .left  button a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    background-color: #4b208c;
    color: white;
}
.homepage .right img{
    width: 100%;
    /* margin-right: 20px; */
}
.homepage .right img{
    border: 7px solid #6f42c1;
    border-radius: 300px;
}
.servicepage{
    background-color: whitesmoke;
    width: 100%;

}
.servicepage h3{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 35px;
    text-transform: capitalize;
}
.servicepage h3 img{
    padding:10px 0px 0px 10px;
}
.cardcontainer{
    display: grid;
    width: 100%;
    padding: 0px 20px;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 2rem;
}
.cardcontainer .card{
    background-color:whitesmoke;
    text-align: center;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cardcontainer .card:hover{
    border-top: 10px solid #6610f2;
}
.cardcontainer .cardheader img{
    width: 120px;
    aspect-ratio:1/1;
    margin-bottom: 40px;
}
.cardcontainer .cardbody h4{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #2e0e5f;
}
.cardcontainer .cardbody p{
    font-size: 20px;
    margin-bottom: 20px;
    color: #0c0c0c;
}
.cardcontainer-1{
    display: grid;
    padding: 20px 20px;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 2rem;
}
.cardcontainer-1 .card{
    background-color:whitesmoke;
    text-align: center;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cardcontainer-1 .card:hover{
    border-top: 10px solid #6610f2;
}
.cardcontainer-1 .cardheader img{
    width: 120px;
    aspect-ratio:1/1;
    margin-bottom: 40px;
}
.cardcontainer-1 .cardbody h4{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #2e0e5f;
}
.cardcontainer-1 .cardbody p{
    font-size: 20px;
    margin-bottom: 20px;
    color: #0c0c0c;
}
.last button{
    padding: 10px;
    text-align: center;
    background-color: #4b208c;
    border-radius: 30px;
    margin: 0px;
    margin-left: 150px;
}
.last button a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    background-color: #4b208c;
    color: white;
}
.aboutpage{
    /* margin-top: -150px; */
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}
.content{
    margin-left: 0px;
    width: 100%;

}
.aboutpage .content h3{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 800;
}
.aboutpage .content p{
    font-size: 20px;
    width: 400px;
    line-height: 1.5;
    color: #0c0c0c;
    margin-bottom: 20px;
}
.aboutpage .content button{
    padding: 10px 40px;
    background-color: #4b208c;
    border-radius: 15px;
}
.aboutpage .content button a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    background-color: #4b208c;
    color: white;
}
.image-1 img{
    width: 60%;
    border: 6px solid #6f42c1;
    border-radius:300px;
    margin: 0px;
    margin-top: 15px;
    
}
.image-2 img{
    width: 40%;
    border: 6px solid #6f42c1;
    border-radius: 200px;
    margin-top: -70px;
    margin-left:230px;
}
.blogpage{
    /* margin-top: -150px; */
    background-color: whitesmoke;
}
.blogpage h3{
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}
.blogpage h3 img{
    padding:10px 0px 0px 10px;

}
.cardcontainer-2{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(250px ,1fr));
    padding:0px 20px;
    gap: 2rem;
}
.cardcontainer-2 .card-2{
    width: 100%;
    background-color:#f8f9fa;
}
.cardcontainer-2 .cardheader img{
    border-radius: 3px;
}
.cardcontainer-2 .card-2 .cardbody{
    width: 100%;
    padding: 20px;
}
.card-2 .cardbody h4{
    text-transform: capitalize;
    color: black;
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: 800;
}
.card-2 .cardbody p{
    color: #0c0c0c;
    font-size: 20px;
    line-height: 1.3;
}
.contactpage{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: whitesmoke;
    justify-content: space-between;
    padding-top: 50px;
    padding: 0px;
}
.inputs{
    margin-left: 0px;
    padding: 20px;
}
.inputs h3{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}
input{
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 15px;
} 
textarea{
    width: 100%;
    font-size: 15px;
    margin-bottom: 10px;
}
.inputs button{
    padding: 10px 40px;
    background-color: #4b208c;
    margin-top: 10px;

}
.inputs button a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 23px;
    color: white;
}
.map{
    width: 100%;
    padding: 20px 20px;
}
.footer{
    background-color: #190734;
    width: 100%;
    height: 60vh;
    margin-top: 50px;
}
 .footer .icons{
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 20px;
    width: 100%;
    padding-top: 20px;
    color: white;
}
.icons i{
    padding: 0px 10px;
    margin-bottom: 20px;
}
.footer input{
    margin: 20px 0px 0px 0px;
    width: 100%;
}
.cribe{
    display: flex;
    flex-direction: column;
}

.cribe .but{
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #4b208c;
    color: white;
    text-align: center;
}
.simples{
    /* display: flex; */
    text-align: center;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 10px;

}
.simples i{
    font-size: 20px;
    background-color: white;
    padding: 10px 10px;
    border-radius: 60px;
    color: #4b208c;
}
.foot{
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
}
}
